.date-filter-container {
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: fit-content;
  margin: 20px ;
}

.date-summary {
  margin-top: 15px;
  font-size: 14px;
  color: #444;
}
