.menu{
    background-color: #83d3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.container-menu{
    background-color: #703333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 80%;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turnoFecha{
    background-color: #69afdb;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}