.menu{
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.container-menu{
    background-color: #BDBDBD;
    display: flex;
    justify-content: center;
    height: 100dvh;
    width: 80%;
    
}