.menu{
    background-color: #83d3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

