.menu{
    background-color: #83d3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.container-menu{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 90%;
    margin: 40px 0 0 0;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.turnoFecha{
    background-color: #07434b;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.empaque{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.vacio{
    background-color: #052125;
        color:aliceblue;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.card_turnoAsignado{
    display: flex;
    flex-direction: column;
}

.marcaciones{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
    border: 1px solid grey;
    background-color: white;
    color: black;
    padding: 10px;
}

.marcacion_entrada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marcaciones_salida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}