

.container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1200px;

    margin: 40px auto 0;
    padding: 0 16px;

    min-height: 100dvh;
}



.turnoFecha {
    background-color: #07434b;
    color: aliceblue;

    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
    padding: 12px;

    margin-bottom: 20px;
    border-radius: 8px;
}

.vacio {
    background-color: #052125;
    color: aliceblue;

    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
    padding: 12px;

    margin-bottom: 20px;
    border-radius: 8px;
}


.empaque {
    display: flex;
    flex-direction: column; /* mobile */
    gap: 16px;

    padding: 12px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.05);
}



.card_turnoAsignado {
    display: flex;
    flex-direction: column;
    gap: 4px;
}



.marcaciones {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    gap: 20px;

    border: 1px solid grey;
    background-color: white;
    color: black;

    padding: 16px;
    border-radius: 6px;
}

.marcacion_entrada,
.marcaciones_salida {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.botones_turno {
    width: 100%;

    display: flex;
    flex-direction: column; /* mobile */
    gap: 10px;
}

.turno_boton,
.marcaje_boton {
    width: 100%;
    padding: 10px 0;

    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.turno_boton {
    background-color: #1f6f78;
}

.marcaje_boton {
    background-color: #2e8b57;
}



@media (min-width: 768px) {

    .empaque {
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    .marcaciones {
        flex-direction: row;
        gap: 80px;
        max-width: 900px;
    }

    .botones_turno {
        flex-direction: row;
        justify-content: center;
        max-width: 300px;
    }

    .turno_boton,
    .marcaje_boton {
        max-width: 140px;
    }
}



@media (min-width: 1200px) {
    .container-menu {
        max-width: 1400px;
    }
}
