
.login-bg {
  background-color: #83d3d3;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-card {
  background-color: #07434b;
  border: none;
  border-radius: 1rem;
  width: 30rem;
  padding: 30px;
  transform: translateY(-90px);
}

.btn-login {
  background-color: #2e8b57;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
  width: 100%;
  border-radius: 3px;
}

.btn-login:hover {
  background-color: #1b5232;
  border: solid 1px;
  
}

/* Inputs */
.form-control::placeholder {
  color: #aaa;
}
